:root {
  --color-green: #50a773;
  --color-yellow: #e7a74e;
  --color-gray-dark: ;
  --color-gray: rgb(158, 158, 158);
  --color-gray-2: rgb(110, 110, 110);
  --color-gray-dark: #3f3e3e;
  --color-gray-light: #dcdcdc;
  --color-gray-lighter: #f7f7f7;
}
